{
  "semi": false,
  "singleQuote": true,
  "editor.formatOnSave": true,
  "overrides": [
    {
      "files": ["**/*.css", "**/*.scss"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
