::v-deep.the-default-layout {
  &__btn {
    font-weight: bold;
  }

  &__app-bar {
    border-bottom: 1px solid rgb(0 0 0 / 10%) !important;
    height: #{$header-height-sp} !important;
    z-index: 50;

    .v-toolbar {
      &__content {
        height: #{$header-height-sp} !important;
      }
    }

    @include bp(sm) {
      height: #{$header-height-pc} !important;

      .v-toolbar {
        &__content {
          height: #{$header-height-pc} !important;
        }
      }
    }
  }

  &__divider {
    margin: 0 24px;
    height: 36px;
    min-height: 36px;
    align-self: auto;
  }

  &__menu {
    display: none;

    @include bp(sm) {
      display: flex;
      align-items: center;
    }
  }
}
