.the-footer {
  $root: &;

  @apply tw-bg-neutral-700 tw-text-white;

  margin-top: 48px;
  padding: 40px 0 60px;

  &__inner {
    max-width: 1440px;
  }

  &__menu {
    padding-left: 0;

    #{$root}__menu {
      padding-left: 8px;
      margin-top: 12px;
    }

    &__item {
      & + & {
        margin-top: 8px;
      }

      a {
        @apply tw-text-white;

        font-size: 14px;

        &:hover {
          @apply tw-text-slate-300;
        }
      }
    }
  }

  &__top {
    padding-bottom: 52px;
    display: flex;
    flex-direction: column;

    @include bp(sm) {
      flex-direction: row;
    }
  }

  &__left {
    padding-bottom: 20px;

    @include bp(sm) {
      padding-bottom: 0;
    }

    @include bp(md) {
      padding: 0 92px;
    }
  }

  &__right {
    border-top: 1px solid;
    flex: 1;
    padding-top: 20px;

    #{$root}__menu {
      margin-top: 40px;

      &__item {
        margin-top: 16px;

        a {
          font-weight: bold;
        }
      }
    }

    @include bp(sm) {
      padding-top: 0;
      border-top: none;
      border-left: 1px solid;
    }

    @include bp(md) {
      padding: 0 130px;
    }

    @apply tw-border-white;
  }

  &__company-name {
    font-size: 18px;
    font-weight: bold;
  }

  &__copyright {
    text-align: center;
    font-size: 14px;
    margin-bottom: 0;
  }

  &__info {
    margin-top: 24px;

    &__item {
      display: flex;
      align-items: flex-start;

      & + & {
        margin-top: 16px;
      }

      &__label {
        min-width: 158px;
        font-size: 14px;
      }

      &__content {
        flex: 1;
        white-space: pre-line;
        display: flex;
        font-size: 14px;
        line-height: 1.8;
      }
    }
  }
}
