::v-deep .v-snack {
  &__content {
    word-break: break-all;
    white-space: pre-line;
    padding: 0 16px;
    max-height: 160px;
    overflow: auto;
    padding-right: 40px;
  }

  &__action {
    position: absolute;
    right: 4px;
  }
}
